html {

    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    
}

body {
    
    background-color: #252f2f;
    color: rgba(255, 255, 255, .8);

}

a,
a:hover {
    
    transition: all .1s linear;

}

/* App Header */
.app-header {

    padding: 3rem 0;
    text-align: center;

}
.app-header__title {
    
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;

}
.app-header__subtitle {

    color: rgba(255, 255, 255, .6);
    font-size: 2rem;
    font-weight: 300;
    margin: 0;

}

/* App Body */
.app-body {

    padding: 3rem 0;

}

.social-list {

    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 2rem 0;
    display: flex;
    
}
.social-list__item {
    
    list-style: none;
    padding: 0;
    
}
.social-list__item-buttom {
    
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 3.5rem;
    margin: 0 .5rem;
    width: 3.5rem;
    
}
.social-list__item-buttom:hover {
    
    background-color: rgba(255, 255, 255, .2);
    
}
.social-list__item-buttom:hover .social-list__item-icon {

    fill: rgba(255, 255, 255, 1);

}
.social-list__item-icon {
    
    display: block;
    fill: rgba(255, 255, 255, .8);
    height: 2rem;
    
}

/* App Footer */
.app-footer {

    color: rgba(255, 255, 255, .4);
    font-size: .8rem;
    font-weight: 300;
    padding: 3rem 0;
    text-align: center;

}