
.collor_palette {
    
    background-color: #333;
    background-color: #252526;
    background-color: #1e1e1e;
    color: #4ec9b0;
    color: #4fc1ff;
    color: #9cdcfe;
    color: #d16969;
    color: #569cd6;
    color: #d7ba7d;
    color: #c8c8c8;
    color: #c586c0;
    color: #ce9178;
    color: #dcdcaa;
    color: #b5cea8;

}

html {

    font-size: 15px;
    
}

body {
    
    background-color: #1e1e1e;
    color: #c8c8c8;
    font-family: 'Source Code Pro', monospace;
    min-height: 100vh;

}

a,
a:hover {
    
    color: #569cd6;
    transition: all .1s linear;

}

/* App Main */
.app-main {
    
    align-items: stretch;
    display: flex;
    min-height: 100vh;
    
}

@media (max-width: 768px) {
    
    .app-main {

        flex-direction: column;

    }
    
}

/* App Header */
.app-header {

    background-color: #252526;
    color: rgba(255, 255, 255, .8);
    max-width: 400px;
    min-width: 400px;
    text-align: center;
    width: 400px;
    
}
.app-header__content {
    
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 3rem 0 0 0;
    position: sticky;
    top: 0;
    
}
.app-header__title {

    color: #c586c0;
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;

}
.app-header__subtitle {

    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 3rem 0;

}

@media (min-width: 768px) and (max-width: 992px) {

    .app-header {

        max-width: 300px;
        min-width: 300px;
        width: 300px;
        
    }
    .app-header__title {
        
        font-size: 2rem;

    }
    .app-header__subtitle {

        font-size: 1rem;

    }

}

@media (max-width: 768px) {

    .app-header {

        max-width: none;
        min-width: auto;
        width: 100%;
        
    }
    .app-header__content {
        
        min-height: auto;
        padding: 3rem 1rem 0 1rem;
        
    }
    .app-header__title {
        
        font-size: 2rem;

    }
    .app-header__subtitle {

        font-size: 1.2rem;
        margin: 0 0 2rem 0;

    }

}

/* App Menu */
.app-menu {
    
    margin: 0 0 0 0;
    padding: 0;

}

/* App Body */
.app-body {

    flex-grow: 1;
    padding: 4rem;

}
.app-body__title {

    color: #4ec9b0;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: left;

}

@media (min-width: 992px) and (max-width: 1200px) {
    
    .app-body {
        
        padding: 3rem 2rem 0 2rem;
        
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    
    .app-body {
        
        padding: 3rem 0 0 0;
        
    }

}

@media (max-width: 768px) {

    .app-body {

        padding: 3rem 0 0 0;

    }
    .app-body__title {

        font-size: 3rem;
        text-align: center;

    }

}

/* Social List */
.social-list {

    align-items: center;
    justify-content: center;
    margin: 0 0 3rem 0;
    padding: 0;
    display: flex;
    
}
.social-list__item {
    
    list-style: none;
    padding: 0;
    
}
.social-list__item-buttom {
    
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 3rem;
    margin: 0 .3rem;
    transition: all .1s linear;
    width: 3rem;
    
}
.social-list__item-buttom:hover {
    
    background-color: rgba(255, 255, 255, .2);
    transform: scale(1.1);
    
}
.social-list__item-buttom:hover .social-list__item-icon {

    fill: #fff;
    transition: all .1s linear;

}
.social-list__item-buttom--github:hover {

    background-color: #6cc644;

}
.social-list__item-buttom--linkedin:hover {

    background-color: #0076b4;

}
.social-list__item-buttom--instagram:hover {

    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );


}
.social-list__item-buttom--facebook:hover {

    background-color: #395693;

}
.social-list__item-buttom--contact:hover {

    background-color: #938539;

}
.social-list__item-icon {
    
    display: block;
    fill: #c8c8c8;
    height: 1.5rem;
    
}

/* App Footer */
.app-footer {

    color: #555;
    border-top: 1px solid #555;
    font-size: .8rem;
    font-weight: 300;
    padding: 1rem 0;
    text-align: center;

}

/* Article List */
.project {
    
    align-items: stretch;
    display: flex;
    margin-bottom: 3rem;
}
.project__image-preview {
    
    filter: saturate(0);
    object-fit: cover;
    transition: all .3s ease;
    min-width: 300px;
    width: 300px;
    
}
.project:hover .project__image-preview {
    
    filter: saturate(1);
    transform: scale(1.1);

}
.project__content {
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
.project__description {
    
    flex-grow: 1;
    padding: 0 0 0 3rem;

}
.project__header-title {

    color: #d16969;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;

}
.project__header-category {

    margin: 0;
    font-size: .8rem;
    font-style: italic;

}
.project__made-with {
    
    margin: 0 0 1rem 0;
    padding: 0
    
}
.project__made-with:after,
.project__made-with:before,
.project__made-with-item {

    color: #4ec9b0;
    font-size: .8rem;

}
.project__made-with:after {

    content: '*/'

}
.project__made-with:before {

    content: '/*'

}
.project__made-with-item {
    
    display: inline-block;
    list-style: none;
    
}
.project__made-with-item:after {
    
    content: ', ';

}
.project__made-with-item:last-child:after {
    
    display: none;

}
.project__link-list {
    
    display: flex;
    margin: 0;
    padding: 1rem 0 0 0;

}
.project__link-list-item {
    
    list-style: none;

}

@media (max-width: 1400px) {

    .project__image-preview {

        min-width: 250px;
        width: 250px;

    }
    .project__link-list-item .button {

        padding: .8rem 1.2rem;

    }

}

@media (max-width: 1200px) {

    .project__description {

        padding: 0 0 0 2rem;

    }
    .project__image-preview {

        min-width: 200px;
        width: 200px;

    }

}

@media (max-width: 992px) {

    .project {

        flex-direction: column;

    }
    .project__image-preview {
        
        filter: saturate(1);
        height: 200px;
        min-height: 200px;
        min-width: 100%;
        width: 100%;

    }
    .project__description {

        padding: 1rem 0 0 0;

    }
    .project__link-list {

        padding: 0;

    }

}

@media (max-width: 768px) {

    .project__header-title {

        font-size: 1.5rem;

    }
    .project__link-list {

        justify-content: center;

    }

}

/* Buttons */
.button-group {

    display: flex;

}
.button {
    
    background: none;
    border: 1px solid #555;
    border-radius: 10px;
    color: #c8c8c8;
    display: block;
    font-weight: 700;
    margin-right: 1rem;
    padding: 1rem 2rem;
    transition: all .1s linear;
    text-align: center;
    
}
.button:focus {

    outline: none;

}

.button:hover {

    background-color: #569cd6;
    border-color: transparent;
    color: #fff;
    text-decoration: none;
    transition: all .1s linear;

}

.button--loading {
    
    overflow: hidden;
    position: relative;
    
}
.button--loading:after {

    animation: spin .5s linear infinite;
    border: 5px solid #569cd6;
    border-top-color: transparent;
    border-radius: 50%;
    content: '';
    height: 24px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    top: 50%;
    width: 24px;

}
@keyframes spin {
    
    from {

        transform: translate(-50%, -50%) rotate(0deg);

    }
    
    to {

        transform: translate(-50%, -50%) rotate(360deg);

    }

}
.button--loading .button-content {

    margin-top: -200px;
    display: block;

}

.button--preview:hover {

    background-color: #c586c0;

}

.button--github:hover {

    background-color: #6cc644;

}

.button .icon {

    display: inline;
    fill: #c8c8c8;
    height: 1.5rem;
    margin-left: -.5rem;
    transition: all .1s linear;
    width: 1.5rem;

}

.button:hover .icon {

    fill: #fff;
    transition: all .1s linear;

}

/* Icons */
.icon {

    display: inline-block;
    height: 1rem;
    line-height: 1.5;
    margin: -5px 0 0 0;
    vertical-align: middle;
    width: 1rem;

}

/* Contect Form */
.contact-form {

    align-items: flex-start;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(2px) grayscale(100%);
    display: none;
    justify-content: center;
    left: 0;
    height: 100vh;
    overflow: auto;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100vw;

}
.contact-form--show {

    display: flex;
    animation: contactFormShow .3s ease;

}
@keyframes contactFormShow {
    
    from {
        
        background-color: rgba(0, 0, 0, 0);

    }

    to {

        background-color: rgba(0, 0, 0, .5);

    }

}

.form {

    background-color: #fff;
    border-radius: 5px;
    color: #555;
    padding: 3rem;
    width: 450px;

}
.contact-form--show .form {

    animation: formShow .3s ease;

}
@keyframes formShow {

    from {

        opacity: 0;
        transform: translateY(-50px);

    }

    to {

        opacity: 1;
        transform: translateY(0px);

    }

}

.form-title {

    font-size: 2rem;
    margin: 0 0 2rem 0;

}

.field {

    margin-bottom: 2rem;

}
.field-label {

    color: #000;
    display: block;
    font-size: .8rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;

}
.field-element {
    
    border-color: #c8c8c8;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: .3rem 0;
    width: 100%;
    
}
.field-element:focus {

    outline: none;

}
.button--form {
    
    background-color: #d16969;
    border-color: #d16969;
    color: #fff;
    
}
.button--form .icon {
    
    fill: #fff;
    
}
.button--form:hover,
.button--form.button--loading {
    
    background-color: transparent;
    border-color: #d16969;
    color: #d16969;
    
}
.button--form:hover .icon {
    
    fill: #d16969;
    
}
.button--form.button--loading:after {

    border-color: #d16969;
    border-top-color: transparent;

}
.button--cancel {
    
    color: #555;
    
}
.button--cancel .icon {
    
    fill: #555;

}
.button--cancel:hover {
    
    background-color: transparent;
    border-color: #000;
    color: #000;
    
}
.button--cancel:hover .icon {
    
    fill: #000;

}

.form-message {

    margin: 2rem 0 0 0;

}
.form-message--success {

    color: #329e75;

}
.form-message--fail {

    color: #d16969;
    
}

@media (max-width: 768px) {

    .contact-form--show {

        display: block;
        padding: 0;

    }

    .form {

        border-radius: 0;
        min-height: 100vh;
        padding: 3rem 1.5rem;
        min-width: 100%;
        width: 100%;

    }

}