<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179478841-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179478841-1');
    </script>

    <title>Diego Marques - Programador Full Stack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Diego Marques - Programador Full Stack">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://diegomarques.com.br/" />

    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <main id="app" class="app-main">

        <!-- App Header -->
        <header class="app-header">

            <div class="app-header__content">

                <h1 class="app-header__title">Diego Marques</h1>
                <h2 class="app-header__subtitle">Programador Full Stack</h2>

                <menu class="app-menu">

                    <ul class="social-list">
            
                        <li class="social-list__item">
                            <a class="social-list__item-buttom social-list__item-buttom--github" href="https://github.com/dmosantos/" title="Github" target="_blank" rel="nofollow">
                                <svg class="social-list__item-icon" alt="Github">
                                    <use xlink:href="images/icons.svg#github"></use>
                                </svg>
                            </a>
                        </li>
            
                        <li class="social-list__item">
                            <a class="social-list__item-buttom social-list__item-buttom--linkedin" href="https://www.linkedin.com/in/dmosantos/" title="LinkedIn" target="_blank" rel="nofollow">
                                <svg class="social-list__item-icon" alt="LinkedIn">
                                    <use xlink:href="images/icons.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
            
                        <li class="social-list__item">
                            <a class="social-list__item-buttom social-list__item-buttom--instagram" href="https://www.instagram.com/dmosantos/" title="Instagram" target="_blank" rel="nofollow">
                                <svg class="social-list__item-icon" alt="Instagram">
                                    <use xlink:href="images/icons.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
            
                        <li class="social-list__item">
                            <a class="social-list__item-buttom social-list__item-buttom--facebook" href="https://www.facebook.com/profile.php?id=100002041556098" title="Facebook" target="_blank" rel="nofollow">
                                <svg class="social-list__item-icon" alt="Facebook">
                                    <use xlink:href="images/icons.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social-list__item">
                            <a class="social-list__item-buttom social-list__item-buttom--contact" href="javascript:void(0);" title="Contact" @click="openContactForm">
                                <svg class="social-list__item-icon" alt="Contact">
                                    <use xlink:href="images/icons.svg#mail"></use>
                                </svg>
                            </a>
                        </li>
            
                    </ul>

                </menu>

            </div>

        </header>

        <!-- App Body -->
        <section class="app-body">

            <div class="container">
                
                <h2 class="app-body__title">Projetos</h2>

                <!-- dmTodoList -->
                <article class="project">

                    <img class="project__image-preview" src="images/preview-dm-todo-list.png" alt="dmTodoList">

                    <div class="project__content">
                    
                        <div class="project__description">
                        
                            <header class="project__header">
                                
                                <h1 class="project__header-title">dmTodoList</h1>

                                <p class="project__header-category">Web App</p>

                                <ul class="project__made-with">
                                    <li class="project__made-with-item">VueJS 3</li>
                                    <li class="project__made-with-item">Sass</li>
                                </ul>

                            </header>

                            <p>Gerenciador de lista de tarefas (to do list) desenvolvido para estudar principalmente a versão 3 do VueJS.</p>
    
                            <ul class="project__link-list">
    
                                <li class="project__link-list-item">
                                    <a class="button button--preview" href="https://dmtodolist.diegomarques.com.br" title="dmTodoList Preview" target="_blank">
                                        <svg class="icon"><use xlink:href="images/icons.svg#play-circle"></use></svg>
                                        Preview
                                    </a>
                                </li>
    
                                <li class="project__link-list-item">
                                    <a class="button button--github" href="https://github.com/dmosantos/dmTodoList" title="dmTodoList Github Repositorie" target="_blank" rel="nofollow">
                                        <svg class="icon"><use xlink:href="images/icons.svg#github"></use></svg>
                                        Github
                                    </a>
                                </li>
    
                            </ul>
                            
                        </div>
                        
                    </div>

                </article>
                
                <!-- Minesweeper (Campo Minado) -->
                <article class="project">

                    <img class="project__image-preview" src="images/preview-minesweeper-vuejs.png" alt="Minesweeper (Campo Minado)">

                    <div class="project__content">
                    
                        <div class="project__description">
                        
                            <header class="project__header">
                                
                                <h1 class="project__header-title">Minesweeper (Campo Minado)</h1>

                                <p class="project__header-category">Jogo</p>

                                <ul class="project__made-with">
                                    <li class="project__made-with-item">VueJS 2</li>
                                    <li class="project__made-with-item">Sass</li>
                                </ul>

                            </header>

                            <p>Versão do clássico Campo Minado desenvolvido em VueJS com o propósito de estudar e entender principalmente a dinâmica de interação entre componentes.</p>
    
                            <ul class="project__link-list">
    
                                <li class="project__link-list-item">
                                    <a class="button button--preview" href="https://minesweeper.diegomarques.com.br" title="Minesweeper (Campo Minado) Preview" target="_blank">
                                        <svg class="icon"><use xlink:href="images/icons.svg#play-circle"></use></svg>
                                        Preview
                                    </a>
                                </li>
    
                                <li class="project__link-list-item">
                                    <a class="button button--github" href="https://github.com/dmosantos/minesweeper" title="Minesweeper (Campo Minado) Github Repositorie" target="_blank" rel="nofollow">
                                        <svg class="icon"><use xlink:href="images/icons.svg#github"></use></svg>
                                        Github
                                    </a>
                                </li>
    
                            </ul>
                            
                        </div>
                        
                    </div>

                </article>

                <!-- Evil Bombs Destroyer (p5.js) -->
                <article class="project">

                    <img class="project__image-preview" src="images/preview-evil-bombs-destroyer-p5js.jpg" alt="Evil Bombs Destroyer (P5js)">

                    <div class="project__content">
                    
                        <div class="project__description">
                        
                            <header class="project__header">
                                
                                <h1 class="project__header-title">Evil Bombs Destroyer (p5.js)</h1>

                                <p class="project__header-category">Jogo</p>

                                <ul class="project__made-with">
                                    <li class="project__made-with-item">HTML5</li>
                                    <li class="project__made-with-item">JavaScript</li>
                                    <li class="project__made-with-item">p5.js</li>
                                </ul>

                            </header>
                            
                            <p>Versão atualizada utilizando a biblioteca p5.js, pronto para ser exportado para Cordova.</p>
    
                            <ul class="project__link-list">
    
                                <li class="project__link-list-item">
                                    <a class="button button--preview" href="https://evil-bombs-destroyer-p5js.diegomarques.com.br" title="Evil Bombs Destroyer (p5.js) Preview" target="_blank">
                                        <svg class="icon"><use xlink:href="images/icons.svg#play-circle"></use></svg>
                                        Preview
                                    </a>
                                </li>
    
                                <li class="project__link-list-item">
                                    <a class="button button--github" href="https://github.com/dmosantos/evil-bombs-destroyer-p5js" title="Evil Bombs Destroyer (p5.js) Github Repositorie" target="_blank" rel="nofollow">
                                        <svg class="icon"><use xlink:href="images/icons.svg#github"></use></svg>
                                        Github
                                    </a>
                                </li>
    
                            </ul>

                        </div>

                    </div>
                    
                </article>

                <!-- Font Awesome The Game -->
                <article class="project">

                    <img class="project__image-preview" src="images/preview-font-awesome-the-game.png" alt="Font Awesome The Game">

                    <div class="project__content">
                    
                        <div class="project__description">
                        
                            <header class="project__header">
                                
                                <h1 class="project__header-title">Font Awesome The Game</h1>

                                <p class="project__header-category">Jogo</p>

                                <ul class="project__made-with">
                                    <li class="project__made-with-item">HTML5</li>
                                    <li class="project__made-with-item">JavaScript</li>
                                    <li class="project__made-with-item">CSS 3</li>
                                </ul>

                            </header>
                            
                            <p>Um jogo desenvolvido utilizando apenas HTML5, CSS3 e JavaScript com o propósito de estudar as mecânicas de desenvolvimento de um jogo, principalmente entendendo o funcionamento do GameLoop e os processos de Update e Render.</p>

                            <ul class="project__link-list">
    
                                <li class="project__link-list-item">
                                    <a class="button button--preview" href="https://font-awesome-the-game.diegomarques.com.br" title="Font Awesome The Game Preview" target="_blank">
                                        <svg class="icon"><use xlink:href="images/icons.svg#play-circle"></use></svg>
                                        Preview
                                    </a>
                                </li>
    
                                <li class="project__link-list-item">
                                    <a class="button button--github" href="https://github.com/dmosantos/font-awesome-the-game" title="Font Awesome The Game Github Repositorie" target="_blank" rel="nofollow">
                                        <svg class="icon"><use xlink:href="images/icons.svg#github"></use></svg>
                                        Github
                                    </a>
                                </li>
    
                            </ul>
                        
                        </div>
                    
                    </div>
                    
                </article>

            </div>

            <!-- App Footer -->
            <footer class="app-footer">
    
                <p>Copyright &copy; 2021 Diego Marques</p>
    
            </footer>

        </section>

        <section :class="['contact-form', {'contact-form--show': contactFormOpened}]">

            <form class="form" @submit="submitContactForm">

                <h2 class="form-title">Contato</h2>

                <div class="field">
                    <label class="field-label" for="contactFormName">Nome:</label>
                    <input class="field-element" id="contactFormName" v-model="contactFormName" type="text" placeholder="Nome..." required :readonly="contactFormSending" />
                </div>

                <div class="field">
                    <label class="field-label" for="contactFormEmail">E-mail:</label>
                    <input class="field-element" id="contactFormEmail" v-model="contactFormEmail" type="email" placeholder="Endereço de e-mail..." required :readonly="contactFormSending" />
                </div>

                <div class="field">
                    <label class="field-label" for="contactFormMessage">Mensagem:</label>
                    <textarea class="field-element" id="contactFormMessage" v-model="contactFormMessage" rows="4" placeholder="Mensagem..." required :readonly="contactFormSending"></textarea>
                </div>
                
                <div class="button-group">

                    <button :class="['button', 'button--form', { 'button--loading': contactFormSending }]" type="submit">
                        <span class="button-content">
                            <svg class="icon"><use xlink:href="images/icons.svg#send"></use></svg>
                            Enviar
                        </span>
                    </button>

                    <a class="button button--cancel" href="javascript:void(0);" title="Voltar" @click="closeContactForm">
                        <svg class="icon"><use xlink:href="images/icons.svg#back"></use></svg>
                        Voltar
                    </a>

                </div>

                <p v-if="contactFormState == 'success'" class="form-message form-message--success">Mensagem enviada com sucesso!</p>
                <p v-if="contactFormState == 'fail'" class="form-message form-message--fail">Falha ao enviar a mensagem. Por favor, tente novamente.</p>

            </form>

        </section>

    </main>

    <script src='https://cdn.jsdelivr.net/npm/vue'></script>
    <script src='js/main.js'></script>

</body>
</html>